
// Color Variables

$bodycolor: #fff;
$wrappercolor: #B8CEE0;
$headercolor: #B8CEE0;
$textcolor: #49306B;
$divcolor: #fff;

// Font variables

$bigtext: 'Unica One', cursive;;
$smalltext: 'Open Sans', sans-serif;

html, body {
}

body {
  background-color: $bodycolor;
}

#wrapper {
  background-color: $wrappercolor;
  min-height: 100vh;
}

.nav {
  display: inline;
}


#header {
    background-color: $headercolor;
    margin-top: -2%;

  h1{
    color: $textcolor;
    text-align: center;
    font-family: $bigtext;
    font-size: 5vw;
    margin-top: -0.3%;
    margin-bottom: -0.5%;
  }
}

.postdiv {
  background-color: $divcolor;
  border-radius: 5px;
  padding-left: 15px;
  border-style: solid;
  border-color: $textcolor;
  border-width: 1px;
  margin-bottom: 50px;

  .list {
    font-family: $smalltext;
    color: $textcolor;
    letter-spacing: 1px;
    line-height: 160%;

    li {
      margin-top: 10px;
    }
  }

  .posthead {
    font-family: $smalltext;
    color: $textcolor;
  }

  .post {
    font-family: $smalltext;
    color: $textcolor;
    letter-spacing: 1px;
    line-height: 160%;
  }

.apply {
  margin-right: 2%;
  margin-bottom: 2%;
  }
}

.socialhead {
  font-family: $smalltext;
  color: $textcolor;
}

.news {
  border-top-style: dotted;
  padding: 1%;
}

.imageholder{
  text-align: center;
  margin-bottom: 2%;
}

.icondiv {
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  max-height: 650px;
  overflow-y:scroll;
}
